html{
	font-weight:lighter;
	overflow-x: hidden;
	background-color: #2196F3;
    height: 100%;
	width: 100%;
	font: 1.1em "Titillium Web", sans-serif; font-weight: 300;
}

header{
	
	position: relative;
    display: inline-block;
    overflow: hidden;
    width: 101.1% !important;
    height: 400px;
    margin-bottom: -6px;
	margin-right: 1.45% !important;
	margin-left: -1.45% !important;
	
}

header h1{
	position: absolute; 
	top: 200px; 
	left: 0; 
	width: 100%; 
	font-size: 4em;
	padding-left:20px;
	margin-top: -2.5%;
	text-align: center;
	visibility: visible;
	margin-left: -3%;
}

header h1 span.grey{
	color:#fff;
	letter-spacing: -1px;  
	padding: 10px; 
}
header h1 span.index{
	padding-left: 20px;
}
header h1 span.spacer{
	padding:0 10px;
}
header h1 span.spacing{
	line-height:1.95em;
}

.mobileBooking{
	visibility: hidden;
}

.sectionColour{
	background-color: #fff;
	margin-left: -1.5% !important;
	margin-right: -1.5% !important;
}

.map{
	float: right;
	margin: 2%;
	width: 600px;
	height: 600px;
	margin-right: 3% !important;
}

.mapContainer{
	float: right !important;
}


.headerImage{
	visibility: hidden;
	width: 100px;
	height: 100px;
}


#jsMap{
	visibility: hidden;
}

#mapImage{
	height: 400px;
	margin-left: -5%;
	position: absolute;
}

#banner-image {
    position: absolute;
    min-height: 100%;
    display: block;
    min-width: 100%;
}

#banner-booking{
	
	position: absolute; 
	top: 300px; 
	left: 0; 
	width: 100%; 
	font-size: 2em;
	padding-left:20px;
	margin-top: -2.5%;
	text-align: center;
	
}

footer{
	
	background-color: #2196F3;
	color: #fff;
	padding-left: 2%;
	padding-right: 2%;
	box-shadow: inset 0 20px 20px -20px rgba(255,255,255,0.8);
	margin-left: -0.5% !important;
	margin-right: -0.5% !important;
}

footer a{
	color: #fff;
	text-decoration: none !important;
	font-weight: 500 !important;
}

footer ul{
	list-style: none outside none;
	margin-left: -10%;
}



@media all and (max-width : 980px) {

	header{
		margin-top: -1% !important;
		margin-left: -20% !important;
		margin-right: 1% !important;
		width: 124% !important;
	}
	header h1{
		margin-left: -5%;
		visibility: hidden;
		margin-top: -20% !important;
	}
	.sectionColour{
		width: 132% !important;
	}
	footer{
		width: 130% !important;
	}
	.headerImage{
		visibility: visible;
		margin-right: -65%;
		margin-top: 15%;
	}
	.book_form_button{
		font-size: 1em !important;
		padding:11px !important;
		margin-left: -0.1% !important;
	}
	a.button{
		font-size: 1.7em;
		padding:10px 15px;
	}
	
}


@media only screen and (max-width: 480px) {

	.sectionColour{
		margin-left: -3% !important;
		margin-right: -3% !important;
	}
	footer{
		margin-left: -3% !important;
		margin-right: -3% !important;
	}
	.map{
		width: 200px;
		height: 200px;
		margin-right: 2% !important;
	}
	header h1{
		visibility: hidden;
		margin-top: -20% !important;
	}
	.headerImage{
		visibility: visible;
		margin-left: 35%;
	}
	.sectionPadding{
		margin-left: 2 !important;
	}
	.mobileBooking{
		visibility: visible;
		font-size: 1em !important;
	}
	#banner-form-span{
		visibility: hidden;
	}
	#mapImage{
		height: 200px;
	}
	
}


/* Buttons */

.button{
	font-size: 1.3em;
	color:#FFFFFF;
	background-color: #2196F3;
	cursor:pointer;
	position:relative;
	padding:1px 10px;
	border:none !important;
	border-radius: 5px;
}

.book_form_button{
	font-size: 0.8em;
	margin-left: -4%;
	padding: 10px;
	margin-top: 1%;
}
.button_footer{
	background-color: #1565c0 !important;
}

a.button{
	font-size: 1.5em;
	color:#FFFFFF;
	background-color: #2196F3;
	cursor:pointer;
	position:relative;
	padding:5px 10px;
    white-space: normal;
	text-decoration: none;
	border-radius: 5px;
}

.button:hover {
    color: #FFFFFF;
	background-color: #1E88E5;
}

.button_footer:hover{
	background-color: #0d47a1 !important;
}


/* Inputs */


input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #333;

}

select{
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #333;

}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #1E88E5;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #1E88E5;
}

#banner-form select{
	font-size: 0.45em;
	font: "Titillium Web", sans-serif; font-weight: 300;
}
#banner-form input[type=text], textarea {
	font-size: 0.5em;
	font: "Titillium Web", sans-serif; font-weight: 300;
}

#booking-form input[type=datetime-local], textarea {
	font-size: 0.1em;
	font: "Titillium Web", sans-serif; font-weight: 300;
}

input[type=datetime-local], textarea {
  outline: none;
  padding: 4px 0px 2px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #333;
}

input[type=datetime-local]:focus, textarea:focus {
  box-shadow: 0 0 5px #1E88E5;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #1E88E5;
}

/* Navigation bar */

nav {
	margin-left: -1.45%;
    margin-right: auto;
	margin-top: -0.7%;
    width: 116%;
	z-index:20;
	position:fixed;
}

/* common and top level styles */

#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #fff;
    border-bottom: 2px solid #2196F3;
    float: left;
    position: relative;
    width: 115%;
	color: #333;
    font: 1.1em "Titillium Web", sans-serif; font-weight: 300;
	box-shadow: 1px 1px 5px rgba(33,150,243, 0.9);
}
#nav ul.subs {
	z-index:2;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(33,150,243, 0.9);
    color: #333;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    top: 51px;
    width: 96%;
}
#nav > li {
    border-bottom: 2px solid transparent;
    float: left;
    margin-bottom: -2px;
    text-align: left;
}
#nav li a {
    display: block;
    text-decoration: none;
    white-space: normal;
}
#nav > li > a {
    color: #333;
    display: block;
    font-size: 1.3em;
    line-height: 49px;
    padding: 0 20px;
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #1E88E5;
	color: #fff;
}
#nav li.active > a {
    background-color: #2196F3;
    color: #fff;
}

/* submenu */
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 33%;
}
#nav ul.subs > li a {
    color: #333;
    line-height: 20px;
}

#nav ul.subs > li > a {
    font-size: 1.3em;
    margin-bottom: 10px;
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}

/* Media Queries */
/* responsive rules */

@media all and (max-width : 1920px) {
	nav{
		margin-left: -0.5%;
	}
}

@media all and (max-width : 980px) {
    #nav > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
	#nav{
		font: 1.5em "Titillium Web", sans-serif; font-weight: 300;
	}
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs {
        display: block;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }
	#nav{
		z-index:1;
	}
	#nav > li > a {
		padding: 10px 30px;
	}
	nav{
		position:static;
		margin-bottom: -1%;
		margin-left: -2%;
	}
}

@media all and (max-width : 650px) {
	
	nav{
		margin-bottom: -1.2%;
	}
	
}

@media all and (max-width : 500px) {
	
	nav{
		margin-bottom: -1.65%;
	}
	
}

@media all and (max-width : 400px) {
	
	nav{
		margin-bottom: -2%;
	}
	
}

/* Responsive Grid */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}
